@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@700&display=swap');

 
 header {
    color: #ffffff;
    position: fixed;
    font-family: 'Lato', sans-serif;
    font-size: 1.8em;
    top: 0;
    width: 100vw;
    height: fit-content;
    background-color: #2f2017;
    padding: 1.8vh;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10;
  }

.header-text {
    color: #ffffff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start; 
}

.header-text span {
  margin-right: 2svw;
} 