
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    font-size: 100%;
    background-color: #F5E1CD;
}
 
 .signup-button {
    transition-duration: 0.2s;
    border-radius: 12px;
    background-color: #ffffff;
    color: #2f2017;
    border: 0.25em solid #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.80em;
}

.signup-button:hover {
    background-color: #f6eee1;
    color: #3C250F;
    border: 0.25em solid #f6eee1;
}

.subtitle {
    color: #3C250F;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 3000;
    font-size: 0.6em;
    margin-top: 10px;
    margin-bottom: 20px;
}

.welcome-container {
    background-color: #F5E1CD;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25vw;
    padding-right: 10vw;
    padding-bottom: 100vh;
    height: 1000%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

img {
    scale: 1.25;
    margin-right: 0;
}


.welcome-title {
    color: #2f2017;
    font-family: 'Lato';
    font-style: bold;
    font-weight: 4000; 
    font-size: 4.5em;
    
}

.welcome-title::before {
    text-shadow: -1px 0 0 rgba(0, 0, 0, .2);   
} 

#welcome-container {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
}

#welcome-text {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-title {
    
    color: #2f2017;
    font-family: 'Lato';
    font-style: bold;
    font-weight: 4000; 
    font-size: 4.5em;
}

#welcome-title span {
    font-size: 0.9em;
}

#welcome-title::before {
    text-shadow: -1px 0 0 rgba(0, 0, 0, .2);   
}

#welcome-subtitle {
    color: #3C250F;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 3000;
    font-size: 0.6em;
    margin-top: 10px;
    margin-bottom: 20px;
}

#welcome-button {
    border: 10px !important;
    border-radius: 15px !important;
    transition-duration: 0.2s;
    background-color: #ffffff !important; 
    color: #2f2017 !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 1em !important;
    margin-top: 0.5vh !important;
    padding: 0.3vh !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    width: fit-content !important;  
}

#welcome-button:hover {
    background-color: #f6eee1 !important;
    color: #3C250F !important;
}

#welcome-logo {
    padding: 0;
    scale: 0.9;
}